* {
	margin: 0;
	padding: 0;
}

body{
	background-image: linear-gradient(to bottom, rgba(10, 10, 10, .3), rgba(10, 10, 10, .57)), url(media/b.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
th, td{
	line-height: 1em;
	font-size: .8em;
}h2{
	font-family: cursive;
}
@media (max-width: 912px){
	body {
  		font-size: 1.2vw;
	}h6{
		font-size: 90%;
	}.h5{
		font-size: .8rem;
	}
}